doctype html 
html 
  head
    title pie-demo-store 
    link(href="https://fonts.googleapis.com/css?family=Roboto|Roboto+Mono|Patua+One" rel="stylesheet")


    script.
       window._pieStore = {};
       window._pieStore.env = !{ env ? JSON.stringify(env) : {}};
       window._pieStore.session = !{ session ? JSON.stringify(session) : {}};
       window._pieStore.endpoints = !{ endpoints ? JSON.stringify(endpoints) : {}};

  body
    catalog-container 
      span(slot="header") Pie Demo Store

      h-pane     
        div 
          pie-player
            | !{markup}  
          player-controls
        div 
          session-editor

    script(src="player.js")
    for j in js 
      script(src=j, type="text/javascript")
