doctype html 
html 
  head
    title pie-demo-store 
    link(href="https://fonts.googleapis.com/css?family=Roboto|Roboto+Mono|Patua+One" rel="stylesheet")

    style.

      html{
        --color-primary: rgba(0,40,80,0.1); 
        --catalog-header-bg: var(--color-primary);
      }

      h5 {
        font-family: 'Roboto', sans-serif;
      } 

    script.
       window._pieStore = {};
       window._pieStore.env = !{ env ? JSON.stringify(env) : {}};
       window._pieStore.session = !{ session ? JSON.stringify(session) : {}};
       window._pieStore.endpoints = !{ endpoints ? JSON.stringify(endpoints) : {}};

  body
    pie-player
      | !{markup}  
    simple-player-controls
    session-outcome(hidden)

    script(src="player.js")
    
    for j in js 
      script(src=j, type="text/javascript")
